<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{accreditation.guest.specialTitle}">
  <f:then>
    {accreditation.guest.specialTitle},
  </f:then>
  <f:else>
    <f:if condition="{accreditation.guest.personally} || {testType}=='personally'">
      <f:then>
        <f:switch expression="{accreditation.guestOutput.gender}">
          <f:case value="f">Liebe {accreditation.guestOutput.firstName},</f:case>
          <f:case value="m">Lieber {accreditation.guestOutput.firstName},</f:case>
          <f:defaultCase>Hallo {accreditation.guestOutput.firstName},</f:defaultCase>
        </f:switch>
      </f:then>
      <f:else>
        <f:switch expression="{accreditation.guestOutput.gender}">
          <f:case value="f">Sehr geehrte Frau <f:if condition="{accreditation.guestOutput.title}">{accreditation.guestOutput.title} </f:if>{accreditation.guestOutput.lastName},</f:case>
          <f:case value="m">Sehr geehrter Herr <f:if condition="{accreditation.guestOutput.title}">{accreditation.guestOutput.title} </f:if>{accreditation.guestOutput.lastName},</f:case>
          <f:defaultCase>Einen wunderschönen Tag,</f:defaultCase>
        </f:switch>
      </f:else>
    </f:if>
  </f:else>
</f:if>
</html>
