<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:c="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      v:schemaLocation="https://fluidtypo3.org/schemas/vhs-master.xsd"
      data-namespace-typo3-fluid="true">
<div class="btn-group">
  <f:link.action action="show" arguments="{event:event}" class="btn btn-default btn-sm" additionalAttributes="{data-toggle:'tooltip', data-placement:'top'}" title="Veranstaltung anzeigen">
  <span class="t3js-icon icon icon-size-small icon-state-default">
    <span class="icon-markup">
      <svg class="icon-color"><use xlink:href="{f:uri.resource(path:'Images/', extensionName: 'allegria_communications', useCacheBusting: false)}glyphicons-basics.svg#eye"></use></svg>
    </span>
  </span>
  </f:link.action>
  <f:link.action controller="Event" action="update" arguments="{event:event}" class="btn {f:if(condition: event.accreditation, then: 'btn-success', else: 'btn-danger')} btn-sm" additionalAttributes="{data-toggle:'tooltip', data-placement:'top'}" title="Akkreditierung {f:if(condition: event.accreditation, then: 'verbieten', else: 'erlauben')}">
  <span class="t3js-icon icon icon-size-small icon-state-default">
    <span class="icon-markup">
      <svg class="icon-color"><use xlink:href="{f:uri.resource(path:'Images/', extensionName: 'allegria_communications', useCacheBusting: false)}glyphicons-basics.svg#hand-like"></use></svg>
    </span>
  </span>
  </f:link.action>
</div>

</html>
