<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:c="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      v:schemaLocation="https://fluidtypo3.org/schemas/vhs-master.xsd"
      data-namespace-typo3-fluid="true">

<f:layout name="Mailer" />

<f:section name="buttons">
  
</f:section>

<f:section name="shortcuts">
  <f:link.action action="list" controller="Mailing" class="btn btn-sm btn-default"><svg class="icon icon-sm fill-dark"><use xlink:href="{f:uri.resource(path:'Images/', extensionName: 'allegria_communications', useCacheBusting: false)}glyphicons-basics.svg#refresh"></use></svg></f:link.action>
</f:section>

<f:section name="content">
    <h1>Vorbereitete Mailings</h1>
    <f:flashMessages queueIdentifier="allegria.publicrelations.flashMessages" />

    <f:if condition="{mailings}">
    <f:then>
    <div class="panel panel-tab">
      <div class="panel-body">
        <div class="row g-3 align-items-center mb-4">
            <div class="col">
                <input placeholder="Suche" class="form-control form-control-sm filter-table" 
                      data-filter-table="mailings" 
                      data-filter-counter="mailings-counter" 
                      data-filter-not="1" 
                      type="search" />
            </div>
            <div class="col-auto">
                <div class="form-control-plaintext" id="mailings-counter" data-counter-label="Mailings">
                    {mailings->f:count()} von {mailings->f:count()} Mailings
                </div>
            </div>
        </div>
        <div class="table-fit">
          <table class="table table-striped table-hover" id="mailings">
            <thead>
              <tr>
                <th data-sort-method="none" width="30px"></th>
                <th data-filterable width="150px">Status</th>
                <th data-filterable width="150px">Kunde</th>
                <th data-filterable width="150px">Typ</th>
                <th data-filterable>Betreff</th>
                <th data-filterable width="150px">Versand gestartet</th>
                <th data-filterable width="100px">Empfänger</th>
              </tr>
            </thead>
            <tbody id="mailings-to-filter">
              <f:for each="{mailings -> v:iterator.sort(sortBy: 'sent', order:'DESC')}" as="mailing" iteration="i">
              <tr>
                <td><f:link.action action="show" controller="Mailing" arguments="{mailing:mailing}"><svg class="icon icon-sm fill-dark"><use xlink:href="{f:uri.resource(path:'Images/', extensionName: 'allegria_communications', useCacheBusting: false)}glyphicons-basics.svg#eye"></use></svg></f:link.action></td>
                <td>
                  <f:if condition="{mailing.status}==0"><span class="badge badge-danger text-white">{mailing.statusOutput}</span></f:if>
                  <f:if condition="{mailing.status}>0"><span class="badge badge-warning text-white">{mailing.statusOutput}</span></f:if>
                  <f:if condition="{mailing.status}<0"><span class="badge badge-success text-white">{mailing.statusOutput}</span></f:if>
                </td>
                <td>{mailing.client.shortName}</td>
                <td>{mailing.typeOutput}</td>
                <td>{mailing.subject -> f:format.crop(maxCharacters:'100', append:'…')}</td>
                <td data-sort="{mailing.sent->f:format.date(format:'%s')}">{mailing.started->f:format.date(format:'%d.%m.%Y %H:%M')}</td>
                <td>{mailCounts.{mailing.uid}}</td>
              </tr>
              </f:for>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    </f:then>
    <f:else>
      <p>Derzeit sind keine Mailings vorbereitet.</p>
    </f:else>
    </f:if>

</f:section>
</html>
