<tr>
  <td colspan="2">
    <div style="padding: 15px 30px; text-align: center;">
      <p style="font-size: 8px; font-weight: 700; color: #060C2E;">
        Versand der Email im Auftrag von<br>
        Warner Bros. Discovery & Imagine Exhibition, Inc. durch:
      </p>
      <p style="font-size: 8px; font-weight: 500; color: #060C2E;">
        <strong>Allegria • PR, Marketing &amp; Events e.U.</strong><br>
        Firmensitz: Wien | Firmenbuch: FN 425687 k, Handelsgericht Wien<br>
        tel +43 1 / 479 02 60 | fax +43 1 / 479 02 60 - 10 | mail office@allegria.at
      </p>
    </div>
  </td>
</tr>
