<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-publicrelations" >
	<tr>
		<td>
			<f:translate key="tx_publicrelations_domain_model_event.date" />
		</td>
		<td>
		{event.date -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_publicrelations_domain_model_event.accreditation" />
		</td>
		<td>
		{event.accreditation}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_publicrelations_domain_model_event.online" />
		</td>
		<td>
		{event.online}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_publicrelations_domain_model_event.type_overwrite" />
		</td>
		<td>
		{event.typeOverwrite}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_publicrelations_domain_model_event.notes_overwrite" />
		</td>
		<td>
		{event.notesOverwrite}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_publicrelations_domain_model_event.notes_manual" />
		</td>
		<td>
		{event.notesManual}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_publicrelations_domain_model_event.location_note" />
		</td>
		<td>
		{event.locationNote}
		</td>
	</tr>
</table>
</html>
