<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      v:schemaLocation="https://fluidtypo3.org/schemas/vhs-master.xsd"
      data-namespace-typo3-fluid="true">

<f:layout name="Eventcenter" />

<f:section name="buttons">
    <f:link.action action="show" controller="Event" class="btn btn-sm btn-default" arguments="{event:event}"><svg class="icon icon-sm fill-dark mr-2"><use xlink:href="{f:uri.resource(path:'Images/', extensionName: 'allegria_communications', useCacheBusting: false)}glyphicons-basics.svg#times"></use></svg>Abbrechen</f:link.action>
</f:section>

<f:section name="shortcuts">
    <f:link.action controller="Accreditation" action="new" arguments="{event:event}" class="btn btn-sm btn-default"><svg class="icon icon-sm fill-dark"><use xlink:href="{f:uri.resource(path:'Images/', extensionName: 'allegria_communications', useCacheBusting: false)}glyphicons-basics.svg#refresh"></use></svg></f:link.action>
</f:section>

<f:section name="content">

    <h1>Akkreditierung erstellen</h1>
    <f:flashMessages queueIdentifier="allegria.publicrelations.flashMessages" />
    
    <f:form action="create" enctype="multipart/form-data" name="newAccreditation" object="{newAccreditation}" arguments="{event:event}">
        <f:form.hidden property="type" value="0" />
        <f:form.hidden property="status" value="1" />
        <f:form.hidden name="formType" value="singleBackend" />
        <f:form.hidden property="event" value="{event.uid}" />

        <!-- Fallback Input für MANUELL Modus (Standard: disabled) -->
        <input type="hidden" name="guest" id="guest-mode-input" value="manual" disabled>

        <!-- BLOCK 1: BASISDATEN -->
        <div class="mb-4">
            <f:render partial="Accreditation/FormBasics" arguments="{_all}" />
        </div>

        <f:if condition="{event.additionalFields}">
            <div class="mb-4">
                <f:render partial="Accreditation/FormAdditional" arguments="{_all}" />
            </div>
        </f:if>

        <!-- BLOCK 2: GASTDATEN (Card statt Alert für saubere Struktur) -->
        <!-- WICHTIG: style="overflow: visible;" verhindert, dass das Dropdown abgeschnitten wird -->
        <div class="card bg-light mb-4 border-0 shadow-sm" style="overflow: visible;">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="m-0 text-dark">Gastdaten</h4>
                    <div>
                        <!-- Toggle Buttons -->
                        <button type="button" class="btn btn-sm btn-outline-secondary" id="btn-switch-manual">
                            <i class="bi bi-pencil"></i> Manuell eingeben
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-secondary d-none" id="btn-switch-select">
                            <i class="bi bi-search"></i> Zurück zur Suche
                        </button>
                    </div>
                </div>

                <!-- SUCHE (TomSelect) -->
                <div class="row">
                    <div class="col-12 js-guest-select-wrapper">
                        <div class="form-group">
                            <label for="selectGuest" class="form-label fw-bold"><svg class="icon icon-sm mr-1"><use xlink:href="{f:uri.resource(path:'Images/', extensionName: 'allegria_communications', useCacheBusting: false)}glyphicons-basics.svg#user"></use></svg>Kontaktauswahl</label>
                            <div class="input-group w-100">
                                <f:form.select 
                                        id="contactSelect" 
                                        name="guest"
                                        class="js-tom-select"
                                        data="{
                                          tom-select:'',
                                          tom-select-url:'accontacts_contact_search',
                                          tom-select-format:'contact',
                                          tom-select-where-client-equals:'0'
                                        }"
                                        placeholder="Kontakt suchen und hinzufügen..."
                                />
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- MANUELLE EINGABE -->
                <div class="row" data-toggle-container="newContact">
                    <!-- Manuelle Felder Header -->
                    <div class="col-12 mt-3" data-toggle-value="manual" style="display:none;">
                        <h5 class="text-muted border-bottom pb-2">Temporäre Kontaktdaten</h5>
                    </div>

                    <!-- Neuer Kontakt (versteckt/inaktiv) -->
                    <div class="col-12" data-toggle-value="new" style="display:none;"></div>

                    <!-- FELDER -->
                    <div class="col-12 col-md-4 mb-3" data-toggle-value="manual" style="display:none;">
                        <div class="form-group">
                            <label for="inputManualCompany">Firma / Medium</label>
                            <f:form.textfield class="form-control" id="inputManualCompany" property="medium" />
                        </div>
                    </div>

                    <div class="col-12 col-md-4 mb-3" data-toggle-value="manual" style="display:none;">
                        <div class="form-group">
                            <label for="selectManualGender">Geschlecht</label>
                            <f:form.select class="form-control tomselect-generic" id="selectManualGender" property="gender">
                                <f:form.select.option value="">Bitte wählen...</f:form.select.option>
                                <f:form.select.option value="m">Männlich</f:form.select.option>
                                <f:form.select.option value="f">Weiblich</f:form.select.option>
                                <f:form.select.option value="v">Sonstig</f:form.select.option>
                            </f:form.select>
                        </div>
                    </div>

                    <div class="col-12 col-md-4 mb-3" data-toggle-value="manual" style="display:none;">
                        <div class="form-group">
                            <label for="inputManualTitle">Titel</label>
                            <f:form.textfield class="form-control" id="inputManualTitle" property="title" />
                        </div>
                    </div>

                    <div class="col-12 col-md-4 mb-3" data-toggle-value="manual" style="display:none;">
                        <div class="form-group">
                            <label for="inputManualFirstName">Vorname</label>
                            <f:form.textfield class="form-control" id="inputManualFirstName" property="firstName" />
                        </div>
                    </div>

                    <div class="col-12 col-md-4 mb-3" data-toggle-value="manual" style="display:none;">
                        <div class="form-group">
                            <label for="inputManualMiddleName">Zweiter Vorname</label>
                            <f:form.textfield class="form-control" id="inputManualMiddleName" property="middleName" />
                        </div>
                    </div>

                    <div class="col-12 col-md-4 mb-3" data-toggle-value="manual" style="display:none;">
                        <div class="form-group">
                            <label for="inputManualLastName">Nachname</label>
                            <f:form.textfield class="form-control" id="inputManualLastName" property="lastName" />
                        </div>
                    </div>

                    <div class="col-12 col-md-4 mb-3" data-toggle-value="manual" style="display:none;">
                        <div class="form-group">
                            <label for="inputManualEmail">E-Mail</label>
                            <f:form.textfield class="form-control" id="inputManualEmail" property="email" type="email" />
                        </div>
                    </div>

                    <div class="col-12 col-md-4 mb-3" data-toggle-value="manual" style="display:none;">
                        <div class="form-group">
                            <label for="inputManualPhone">Telefon</label>
                            <f:form.textfield class="form-control" id="inputManualPhone" property="phone" />
                        </div>
                    </div>

                    <div class="col-12 col-md-4 mb-3" data-toggle-value="manual" style="display:none;">
                        <div class="form-group">
                            <label for="inputMobile">Mobil</label>
                            <f:form.textfield class="form-control" id="inputMobile" property="phone" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- BLOCK 3: OPTIONEN & SUBMIT -->
        <div class="mb-4">
            <f:render partial="Accreditation/FormOptions" arguments="{_all}" />
        </div>

        <div class="mb-5 pb-5">
            <f:form.submit value="Jetzt generieren" class="btn btn-success btn-lg" />
        </div>

    </f:form>
</f:section>
</html>