<f:layout name="{template}" />

<f:section name="Title">
    <f:render partial="Email/DefaultAccreditationContent.html" arguments="{_all}" section="Title" />
</f:section>

<f:section name="Preview">
    <f:render partial="Email/DefaultAccreditationContent.html" arguments="{_all}" section="Preview" />
</f:section>

<f:section name="HeaderNew">
    <f:render partial="Email/DefaultAccreditationContent.html" arguments="{_all}" section="Header" />
</f:section>

<f:section name="ContentNew">
    <f:render partial="Email/DefaultAccreditationContent.html" arguments="{_all}" section="Content" />
</f:section>