<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-publicrelations" >
	<tr>
		<td>
			<f:translate key="tx_publicrelations_domain_model_client.name" />
		</td>
		<td>
		{client.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_publicrelations_domain_model_client.short_name" />
		</td>
		<td>
		{client.shortName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_publicrelations_domain_model_client.also_known_as" />
		</td>
		<td>
		{client.alsoKnownAs}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_publicrelations_domain_model_client.shortinfo" />
		</td>
		<td>
		{client.shortinfo}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_publicrelations_domain_model_client.top" />
		</td>
		<td>
		{client.top}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_publicrelations_domain_model_client.archive" />
		</td>
		<td>
		{client.archive}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_publicrelations_domain_model_client.description" />
		</td>
		<td>
		{client.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_publicrelations_domain_model_client.logo" />
		</td>
		<td>
				<f:image src="{client.logo.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_publicrelations_domain_model_client.since" />
		</td>
		<td>
		{client.since -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_publicrelations_domain_model_client.phone" />
		</td>
		<td>
		{client.phone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_publicrelations_domain_model_client.email" />
		</td>
		<td>
		{client.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_publicrelations_domain_model_client.slug" />
		</td>
		<td>
		{client.slug}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_publicrelations_domain_model_client.seo_title" />
		</td>
		<td>
		{client.seoTitle}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_publicrelations_domain_model_client.seo_description" />
		</td>
		<td>
		{client.seoDescription}
		</td>
	</tr>
</table>
</html>
