<f:switch expression="{content}">
  <f:case value="invitation">
    <table width="600px" border="0" cellpadding="0" cellspacing="0" style="margin: 30px 0 0 0">
      <tbody>
        <tr>
          <td width="50px"></td>
          <td width="500px" style="line-height: 0;"><img src="https://www.allegria.at/fileadmin/marketing/hpx-vienna/hpx-vienna-frame-top.png" width="auto" height="25px"></td>
          <td width="50px"></td>
        </tr>
        <tr>
          <td width="50px"></td>
          <td width="500px" style="background-image:url('https://www.allegria.at/fileadmin/marketing/hpx-vienna/hpx-vienna-frame-middle.png'); background-repeat: repeat-y; background-position-y: top; background-position-x: middle; color: #FFFFFF;" align="center">
            <f:render partial="ContentHPXViennaProgramEN" arguments="{event:'press'}" />
          </td>
          <td width="50px"></td>
        </tr>
        <tr>
          <td width="50px"></td>
          <td width="500px">
            <img src="https://www.allegria.at/fileadmin/marketing/hpx-vienna/hpx-vienna-frame-bottom.png" width="auto" height="25px" style="margin: 0">
          </td>
          <td width="50px"></td>
        </tr>
      </tbody>
    </table>
    <p style="margin: 50px 0">
      <f:link.typolink absolute="1" parameter="38" additionalParams="&tx_publicrelations_accreditationform[controller]=Accreditation&tx_publicrelations_accreditationform[action]=report&tx_publicrelations_accreditationform[accreditation]={accreditation.uid}&lang=en" absolute="1" additionalAttributes="{style:'background-color: #C89211; padding: 10px 15px; color: #060C2E !important; font-weight: 700; font-size: 20px;'}">Respond Now</f:link.typolink>
    </p>
    <img src="https://www.allegria.at/fileadmin/marketing/hpx-vienna/hpx-vienna-photo-press-02.png" width="600px" height="auto" style="margin: 0 0 30px 0">
    <h1 style="font-size: 36px; margin-top: 0; font-weight: 700; color: #C89211; font-family: 'mason-sans', sans-serif;">Will You Join Us?</h1>
    <p style="color: #FFFFFF;">
      Please let us know <span style="font-weight: 700; color: #C89211;">by November 30, 2022</span>,<br>
      if you can come to the preview event.<br>
      <span style="font-size: 12px">*this invitation is non-transferable</span>
    </p>
    <p style="margin-top: 30px; color: #FFFFFF;">
      <f:link.typolink absolute="1" parameter="38" additionalParams="&tx_publicrelations_accreditationform[controller]=Accreditation&tx_publicrelations_accreditationform[action]=report&tx_publicrelations_accreditationform[accreditation]={accreditation.uid}&lang=en" absolute="1" additionalAttributes="{style:'background-color: #C89211; padding: 10px 15px; color: #060C2E !important; font-weight: 700; font-size: 20px;'}">Respond Now</f:link.typolink>
    </p>
    <p>
      <img src="https://www.allegria.at/fileadmin/marketing/hpx-vienna/hpx-vienna-legal-line.png" width="450px" height="auto" style="margin: 30px 0 0 0">
    </p>
  </f:case>
  <f:case value="approve">
    <table width="600px" border="0" cellpadding="0" cellspacing="0" style="margin: 30px 0 0 0">
      <tbody>
        <tr>
          <td width="50px"></td>
          <td width="500px" style="line-height: 0;"><img src="https://www.allegria.at/fileadmin/marketing/hpx-vienna/hpx-vienna-frame-top.png" width="auto" height="25px"></td>
          <td width="50px"></td>
        </tr>
        <tr>
          <td width="50px"></td>
          <td width="500px" style="background-image:url('https://www.allegria.at/fileadmin/marketing/hpx-vienna/hpx-vienna-frame-middle.png'); background-repeat: repeat-y; background-position-y: top; background-position-x: middle; color: #FFFFFF;" align="center">
            <f:render partial="ContentHPXViennaProgramEN" arguments="{event:'press'}" />
          </td>
          <td width="50px"></td>
        </tr>
        <tr>
          <td width="50px"></td>
          <td width="500px">
            <img src="https://www.allegria.at/fileadmin/marketing/hpx-vienna/hpx-vienna-frame-bottom.png" width="auto" height="25px" style="margin: 0">
          </td>
          <td width="50px"></td>
        </tr>
      </tbody>
    </table>
    <p style="margin: 50px 0">
      <a href="https://harrypotter-ausstellung.at/en" target="_blank" style="background-color: #C89211; padding: 10px 15px; color: #060C2E !important; font-weight: 700; font-size: 20px;">HarryPotter-Ausstellung.at/en</a>
    </p>
    <img src="https://www.allegria.at/fileadmin/marketing/hpx-vienna/hpx-vienna-photo-press-02.png" width="600px" height="auto" style="margin: 0 0 30px 0">
    <h1 style="font-size: 36px; margin-top: 0; font-weight: 700; color: #C89211; font-family: 'mason-sans', sans-serif;">Sick or prevented?</h1>
    <p style="color: #FFFFFF;">
    Please let us know via email if you cannot come to the press event.
    </p>
    <p style="margin-bottom: 50px;">
      <a href="mailto:office@allegria.at" target="_blank" style="background-color: #C89211; padding: 10px 15px; color: #060C2E !important; font-weight: 700; font-size: 20px;">Send Email</a>
    </p>
  </f:case>
  <f:case value="remind">
    <table width="600px" border="0" cellpadding="0" cellspacing="0" style="margin: 30px 0 0 0">
      <tbody>
        <tr>
          <td width="50px"></td>
          <td width="500px" style="line-height: 0;"><img src="https://www.allegria.at/fileadmin/marketing/hpx-vienna/hpx-vienna-frame-top.png" width="auto" height="25px"></td>
          <td width="50px"></td>
        </tr>
        <tr>
          <td width="50px"></td>
          <td width="500px" style="background-image:url('https://www.allegria.at/fileadmin/marketing/hpx-vienna/hpx-vienna-frame-middle.png'); background-repeat: repeat-y; background-position-y: top; background-position-x: middle; color: #FFFFFF;" align="center">
            <f:render partial="ContentHPXViennaProgramEN" arguments="{event:'press'}" />
          </td>
          <td width="50px"></td>
        </tr>
        <tr>
          <td width="50px"></td>
          <td width="500px">
            <img src="https://www.allegria.at/fileadmin/marketing/hpx-vienna/hpx-vienna-frame-bottom.png" width="auto" height="25px" style="margin: 0">
          </td>
          <td width="50px"></td>
        </tr>
      </tbody>
    </table>
    <p style="margin: 50px 0">
      <f:link.typolink absolute="1" parameter="38" additionalParams="&tx_publicrelations_accreditationform[controller]=Accreditation&tx_publicrelations_accreditationform[action]=report&tx_publicrelations_accreditationform[accreditation]={accreditation.uid}&lang=en" absolute="1" additionalAttributes="{style:'background-color: #C89211; padding: 10px 15px; color: #060C2E !important; font-weight: 700; font-size: 20px;'}">Respond Now</f:link.typolink>
    </p>
    <img src="https://www.allegria.at/fileadmin/marketing/hpx-vienna/hpx-vienna-photo-press-02.png" width="600px" height="auto" style="margin: 0 0 30px 0">
    <h1 style="font-size: 36px; margin-top: 0; font-weight: 700; color: #C89211; font-family: 'mason-sans', sans-serif;">Will You Join Us?</h1>
    <p style="color: #FFFFFF;">
      Please let us know <span style="font-weight: 700; color: #C89211;">by December 2, 2022</span>,<br>
      if you can come to the preview event.<br>
      <span style="font-size: 12px">*this invitation is non-transferable</span>
    </p>
    <p style="margin-top: 30px; color: #FFFFFF;">
      <f:link.typolink absolute="1" parameter="38" additionalParams="&tx_publicrelations_accreditationform[controller]=Accreditation&tx_publicrelations_accreditationform[action]=report&tx_publicrelations_accreditationform[accreditation]={accreditation.uid}&lang=en" absolute="1" additionalAttributes="{style:'background-color: #C89211; padding: 10px 15px; color: #060C2E !important; font-weight: 700; font-size: 20px;'}">Respond Now</f:link.typolink>
    </p>
    <p>
      <img src="https://www.allegria.at/fileadmin/marketing/hpx-vienna/hpx-vienna-legal-line.png" width="450px" height="auto" style="margin: 30px 0 0 0">
    </p>
  </f:case>
</f:switch>
