<html
  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
  xmlns:pr="BucheggerOnline\Publicrelations\ViewHelpers"
  data-namespace-typo3-fluid="true">
<f:for each="{contents}" as="content" iteration="contentI">
  <f:if condition="{content.type}==0"><f:if condition="{blank}"><f:then>{f:variable(name: 'anrede', value: '{accreditation.guest.salutation}')}{f:variable(name: 'link', value: '{f:uri.typolink(parameter: \'38\', additionalParams:\'&tx_publicrelations_accreditationform[controller]=Accreditation&tx_publicrelations_accreditationform[action]=report&tx_publicrelations_accreditationform[accreditation]={accreditation.uid}\', absolute: 1)}')}<f:format.raw><pr:content content="{content.content->f:format.raw()}" salutation="{anrede}" responselink="{link}" /></f:format.raw></f:then><f:else><div style="margin: 20px 0;">{content.content->f:format.html()}</div></f:else></f:if></f:if>
  <f:if condition="{content.type}==100"><f:if condition="{blank}"><f:then>{f:variable(name: 'anrede', value: '{accreditation.guest.salutation}')}{f:variable(name: 'link', value: '{f:uri.typolink(parameter: \'38\', additionalParams:\'&tx_publicrelations_accreditationform[controller]=Accreditation&tx_publicrelations_accreditationform[action]=report&tx_publicrelations_accreditationform[accreditation]={accreditation.uid}\', absolute: 1)}')}<f:format.raw><pr:content content="{content.content->f:format.raw()}" salutation="{anrede}" responselink="{link}" /></f:format.raw></f:then><f:else><div style="margin: 20px 0;">{content.content->f:format.html()}</div></f:else></f:if></f:if>
  <f:if condition="{content.type}==2"><f:render partial="News" arguments="{content:content}" /></f:if>
  <f:if condition="{content.type}==3"><f:render partial="Invitation/EventOverview" arguments="{event:content.event, accreditationLink:content.eventLink}" /></f:if>
  <f:if condition="{content.type}==4"><f:render partial="Media" arguments="{content:content}" /></f:if>
  <f:if condition="{content.type}==6"><f:render partial="Invitation/EventOverview" arguments="{event:content.event, onlyAccreditationLink:'1', accreditationLink:'1'}" /></f:if>
  <f:if condition="{content.type}==7"><f:render partial="MailingImage" arguments="{content:content}" /></f:if>
  <f:if condition="{content.type}==8"><f:render partial="Facies" arguments="{event:content.event}" /></f:if>
  <f:if condition="{content.type}==9"><f:render partial="EventAlert" arguments="{content:content}" /></f:if>
  <f:if condition="{content.type}==10"><f:render partial="Invitation/Link" arguments="{_all}" /></f:if>
</f:for>
</html>
