<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<!--[if (gte mso 9)|(IE)]><table align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="width:600px;"><tr><td align="center" valign="top" width="600" style="width:600px;"><![endif]-->
<p>
  <br/>
  <strong>{settings.company.name}</strong><br/>
  {settings.company.street}<br>
  {settings.company.countryCode}-{settings.company.zip} {settings.company.city}
</p>
<p>
  tel {settings.company.phone}<br/>
  mail {settings.company.email}<br/>
  web www.allegria.at<br/><br/><br/>
</p>
<!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->

</html>
