<tr>
  <td valign="top" class="textContent" style="padding:0 30px; padding-top: 30px;">
    <p style="text-align: center;">
      <a href="https://palazzo.org/wien/de/home/infos/impressum.html" style="color: #FFFFFF !important; text-transform: uppercase; margin-right: 25px;">Impressum</a>
      <a href="https://palazzo.org/wien/de/home/infos/datenschutz.html" style="color: #FFFFFF !important; text-transform: uppercase; margin-right: 25px;">Datenschutz</a>
    </p>
  </td>
</tr>
<tr>
  <td colspan="2" style="padding:0 30px; padding-bottom: 30px;">
    <hr style="border-color: #FFFFFF; border: 0.3px solid #FFFFFF;">
    <p style="text-align: center;">
      <a href="https://palazzo.org/wien/de/home.html" target="_blank" class="text-primary" style="color: #FFFFFF !important;"><strong>palazzo.org/wien</strong></a>
    </p>
  </td>
</tr>

<tr>
  <td colspan="2">
    <div style="padding: 15px 30px; background-color: #1F1F1F; text-align: center;">
      <p style="color: #FFFFFF;" class="f-5">Versand der Email im Auftrag der PALAZZO Produktionen GmbH durch:</p>
      <p><img src="https://www.allegria.at/fileadmin/marketing/allegria_schriftzug_email.png" width="100px" height="auto"></p>
      <p style="color: #FFFFFF;">
      <strong>Allegria • PR, Marketing &amp; Events e.U.</strong><br>
      Inhaber: Mario Reiner
      </p>
      <p style="color: #FFFFFF !important;">
        <small>Firmensitz: Wien | Firmenbuch: FN 425687 k, Handelsgericht Wien<br>
        tel +43 1 / 479 02 60 | fax +43 1 / 479 02 60 - 10 | mail <a href="mailto:office@allegria.at" style="color: #FFFFFF !important;">office@allegria.at</a></small>
      </p>
    </div>
  </td>
</tr>
