<f:switch expression="{content}">
<f:case value="invitation">
  <tr>
    <td valign="top" class="image" align="center" style="padding: 50px 0 30px 0; text-align: center;">
      <img src="https://www.allegria.at/fileadmin/marketing/hpx-vienna/hpx-vienna-broom-left.png" width="auto" height="25px" style="padding-right: 15px;"><span style="font-size: 36px; font-weight: 700; color: #C89211; font-family: 'mason-sans',sans-serif;">Persönliche Einladung</span><img src="https://www.allegria.at/fileadmin/marketing/hpx-vienna/hpx-vienna-broom-right.png" width="auto" height="25px" style="padding-left: 15px;">
      <p style="font-size: 28px; color: #FFFFFF; font-family: 'mason-sans',sans-serif; margin-top: 0;">für {accreditation.guestOutput.name}</p>
      <p style="font-size: 24px; color: #FFFFFF; font-family: 'mason-sans',sans-serif; margin-top: 0;">Zur großen Eröffnung<br>in der Wiener METAStadt von</p>
      <a href="https://www.harrypotter-ausstellung.at"><img src="https://www.allegria.at/fileadmin/marketing/hpx-vienna/hpx-vienna-logo-de-mailing.png"></a>
    </td>
  </tr>
  <f:render section="dateOverview" />
</f:case>
<f:case value="approve">
  <tr>
    <td valign="top" class="image" align="center" style="padding: 50px 0 30px 0; text-align: center;">
      <img src="https://www.allegria.at/fileadmin/marketing/hpx-vienna/hpx-vienna-broom-left.png" width="auto" height="25px" style="padding-right: 15px;"><span style="font-size: 36px; font-weight: 700; color: #C89211; font-family: 'mason-sans',sans-serif;">Dein Ticket</span><img src="https://www.allegria.at/fileadmin/marketing/hpx-vienna/hpx-vienna-broom-right.png" width="auto" height="25px" style="padding-left: 15px;">
      <div style="background-color: #C89211; width:100%; text-align: center; margin: 30px 0; padding: 15px 0;">
        <h1 style="font-size: 36px; font-weight: 700; color: #060C2E; font-family: 'mason-sans',sans-serif; margin-bottom: 0;">{accreditation.guestOutput.name}</h1>
        <p style="font-size: 14px; font-weight: 400; color: #060C2E; font-family: 'sofia-pro',sans-serif; margin-top: 0; line-height: 1.0 !important;">
          <f:if condition="{accreditation.ticketsApproved}>1"><span style="font-size: 24px; font-weight: 700; color: #FFFFFF; font-family: 'mason-sans',sans-serif;">{accreditation.ticketsApproved} Gäste</span></f:if><br>
          Akkreditierung Nr. #{accreditation.uid}, versandt am {f:format.date(date:'now', format: 'd.m.Y H:i')}<br>
          <span style="font-size: 12px;"><strong>bitte nicht ausdrucken, wir checken dich gerne mit dem digitalen Ticket ein</strong><br>*diese Einladung ist nicht übertragbar</span>
        </p>
      </div>
      <p style="font-size: 24px; color: #FFFFFF; font-family: 'mason-sans',sans-serif; margin-top: 0;">Zur großen Eröffnung<br>zur Europapremiere von</p>
      <a href="https://www.harrypotter-ausstellung.at"><img src="https://www.allegria.at/fileadmin/marketing/hpx-vienna/hpx-vienna-logo-de-mailing.png"></a>
    </td>
  </tr>
  <f:render section="dateOverview" />
</f:case>
<f:case value="reject">
  <f:render partial="HeaderHPXViennaRejected" />
</f:case>
<f:case value="remind">
  <tr>
    <td valign="top" class="image" align="center" style="padding: 50px 0 30px 0; text-align: center;">
      <img src="https://www.allegria.at/fileadmin/marketing/hpx-vienna/hpx-vienna-broom-left.png" width="auto" height="25px" style="padding-right: 15px;"><span style="font-size: 36px; font-weight: 700; color: #C89211; font-family: 'mason-sans',sans-serif;">Erinnerung zur Einladung</span><img src="https://www.allegria.at/fileadmin/marketing/hpx-vienna/hpx-vienna-broom-right.png" width="auto" height="25px" style="padding-left: 15px;">
      <p style="font-size: 28px; color: #FFFFFF; font-family: 'mason-sans',sans-serif; margin-top: 0;">für {accreditation.guestOutput.name}</p>
      <p style="font-size: 24px; color: #FFFFFF; font-family: 'mason-sans',sans-serif; margin-top: 0;">Zur großen Eröffnung<br>in der Wiener METAStadt von</p>
      <a href="https://www.harrypotter-ausstellung.at"><img src="https://www.allegria.at/fileadmin/marketing/hpx-vienna/hpx-vienna-logo-de-mailing.png"></a>
    </td>
  </tr>
  <tr>
    <td align="center">
      <table width="550px" border="0" cellpadding="0" cellspacing="0" style="margin: 30px 0 0 0">
        <tbody>
          <tr>
            <td align="center">
              <p style="color: #FFFFFF; font-family: 'sofia-pro', sans-serif;">
                Wir wollten nur sichergehen, dass dich unsere Einladung zu<br><strong>Harry Potter™: Die Ausstellung</strong> am 15. Dezember erreicht hat.<br>Aus organisatorischen Gründen würden wir um eine Rückmeldung<br><span style="font-weight: 700; color: #C89211;">bis zum 2. Dezember 2022</span> bitten.
              </p>
              <p style="margin: 50px 0">
                <f:link.typolink absolute="1" parameter="38" additionalParams="&tx_publicrelations_accreditationform[controller]=Accreditation&tx_publicrelations_accreditationform[action]=report&tx_publicrelations_accreditationform[accreditation]={accreditation.uid}" absolute="1" additionalAttributes="{style:'background-color: #C89211; padding: 10px 15px; color: #060C2E !important; font-weight: 700; font-size: 20px;'}">Jetzt Zu-/Absagen</f:link.typolink>
              </p>
              <p style="color: #FFFFFF; font-family: 'sofia-pro', sans-serif; font-size: 12px;">
                Du kannst bis dahin noch nicht sicher sagen, ob es sich ausgeht?<br>Melde dich gerne bei uns unter <a href="mailto:office@allegria.at" target="_blank" style="color: #FFFFFF; font-family: 'sofia-pro', sans-serif; font-size: 12px;">office@allegria.at</a> und wir finden sicher eine Lösung. Wir würden uns sehr freuen dich bei der Europapremiere in der Wiener METAStadt begrüßen zu dürfen.
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <f:render section="dateOverview" />
</f:case>
<f:case value="push">
  <tr>
    <td valign="top" class="image" align="center" style="padding: 50px 0 30px 0; text-align: center;">
      <img src="https://www.allegria.at/fileadmin/marketing/hpx-vienna/hpx-vienna-broom-left.png" width="auto" height="25px" style="padding-right: 15px;"><span style="font-size: 36px; font-weight: 700; color: #C89211; font-family: 'mason-sans',sans-serif;">Finale Erinnerung zur Einladung</span><img src="https://www.allegria.at/fileadmin/marketing/hpx-vienna/hpx-vienna-broom-right.png" width="auto" height="25px" style="padding-left: 15px;">
      <p style="font-size: 28px; color: #FFFFFF; font-family: 'mason-sans',sans-serif; margin-top: 0;">für {accreditation.guestOutput.name}</p>
      <p style="font-size: 24px; color: #FFFFFF; font-family: 'mason-sans',sans-serif; margin-top: 0;">Zur großen Eröffnung<br>in der Wiener METAStadt von</p>
      <a href="https://www.harrypotter-ausstellung.at"><img src="https://www.allegria.at/fileadmin/marketing/hpx-vienna/hpx-vienna-logo-de-mailing.png"></a>
    </td>
  </tr>
  <tr>
    <td align="center">
      <table width="550px" border="0" cellpadding="0" cellspacing="0" style="margin: 30px 0 0 0">
        <tbody>
          <tr>
            <td align="center">
              <p style="color: #FFFFFF; font-family: 'sofia-pro', sans-serif;">
                Wir wollten nur sichergehen, dass dich unsere Einladung zu<br><strong>Harry Potter™: Die Ausstellung</strong> am 15. Dezember erreicht hat.<br>Aus organisatorischen Gründen können wir Rückmeldungen nur bis zum <br><span style="font-weight: 700; color: #C89211;">2. Dezember 2022</span> annehmen, danach wird die finale Gästeliste vorbereitet.
              </p>
              <p style="margin: 50px 0">
                <f:link.typolink absolute="1" parameter="38" additionalParams="&tx_publicrelations_accreditationform[controller]=Accreditation&tx_publicrelations_accreditationform[action]=report&tx_publicrelations_accreditationform[accreditation]={accreditation.uid}" absolute="1" additionalAttributes="{style:'background-color: #C89211; padding: 10px 15px; color: #060C2E !important; font-weight: 700; font-size: 20px;'}">Jetzt Zu-/Absagen</f:link.typolink>
              </p>
              <p style="color: #FFFFFF; font-family: 'sofia-pro', sans-serif; font-size: 12px;">
                Du kannst bis dahin nicht sicher sagen, ob es sich ausgeht oder du hast die Einladung zu spät entdeckt?<br>Melde dich gerne bei uns unter <a href="mailto:office@allegria.at" target="_blank" style="color: #FFFFFF; font-family: 'sofia-pro', sans-serif; font-size: 12px;">office@allegria.at</a> und wir werden versuchen eine Lösung zu finden. Wir würden uns sehr freuen dich bei der Europapremiere in der Wiener METAStadt begrüßen zu dürfen.
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <f:render section="dateOverview" />
</f:case>
</f:switch>

<f:section name="dateOverview">
<tr>
  <td valign="top" class="image" align="center" style="padding: 30px 0; text-align: center;">
    <p style="color: #FFFFFF; font-family: 'sofia-pro',sans-serif; font-size: 16px; margin-top: 0;">
      <span style="color: #C89211; font-family: 'mason-sans',sans-serif; font-weight: 700; font-size: 36px;">Do, 15. Dezember 2022</span><br>
    </p>
    <p style="color: #FFFFFF; font-family: 'sofia-pro',sans-serif; font-size: 16px; margin: 0;">
      <span style="font-family: 'mason-sans',sans-serif; font-weight: 500; font-size: 28px;">METAStadt</span><br>
    </p>
    <table width="600px" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="auto"> </td>
        <td width="250px">
          <div style="color: #FFFFFF; font-family: 'sofia-pro',sans-serif; font-size: 12px; font-weight: 400; display: block;">
            <div style="display: inline-block;">
              <img src="https://www.allegria.at/fileadmin/marketing/hpx-vienna/hpx-vienna-icon-nimbus.png" width="auto" height="25px" style="padding-right: 15px">
            </div>
            <div style="text-align: left; display: inline-block;">
              <span>Dr.-Otto-Neurath-Gasse 3<br>1220 Wien</span>
            </div>
          </div>
        </td>
        <td width="auto"> </td>
      </tr>
    </table>
    <table width="600px" border="0" cellpadding="0" cellspacing="0" style="margin-top: 30px;">
      <tr>
        <td width="60px"> </td>
        <td width="200px">
          <div style="color: #FFFFFF; font-family: 'sofia-pro',sans-serif; font-size: 12px; font-weight: 400; margin-top: 0; display: block;">
            <div style="display: inline-block;">
              <img src="https://www.allegria.at/fileadmin/marketing/hpx-vienna/hpx-vienna-icon-public-transport.png" width="auto" height="20px" style="padding-right: 15px">
            </div>
            <div style="text-align: left; display: inline-block;">
              <span>Erzherzog-Karl-Straße<br>S-Bahn, Bim, Bus</span>
            </div>
          </div>
        </td>
        <td width="280px">
          <div style="color: #FFFFFF; font-family: 'sofia-pro',sans-serif; font-size: 12px; font-weight: 400; margin-top: 0; display: flex; align-items: center; justify-content: space-around;">
            <div style="margin-left: 30px; display: inline-block;">
              <img src="https://www.allegria.at/fileadmin/marketing/hpx-vienna/hpx-vienna-icon-car.png" width="auto" height="20px" style="padding-right: 15px">
            </div>
            <div style="text-align: left; display: inline-block;">
              <span>Vor Ort limitierte Parkmöglichkeiten</span>
            </div>
          </div>
        </td>
        <td width="60px"> </td>
      </tr>
    </table>
    <img src="https://www.allegria.at/fileadmin/marketing/hpx-vienna/hpx-vienna-photo-grand-opening-01.png" width="600px" height="auto" style="margin: 30px 0 0 0">
  </td>
</tr>
</f:section>
