<f:switch expression="{lang}">
<f:case value="english">
<tr>
  <td valign="top" class="image" align="center" style="padding: 50px 0 30px 0; text-align: center;">
    <img src="https://www.allegria.at/fileadmin/marketing/hpx-vienna/hpx-vienna-broom-left.png" width="auto" height="25px" style="padding-right: 15px;"><span style="font-size: 36px; font-weight: 700; color: #C89211; font-family: 'mason-sans',sans-serif;">Thanks for the Response</span><img src="https://www.allegria.at/fileadmin/marketing/hpx-vienna/hpx-vienna-broom-right.png" width="auto" height="25px" style="padding-left: 15px;">
    <p style="font-size: 16px; color: #FFFFFF; font-family: 'sofia-pro',sans-serif; margin-top: 20px;">We have noted your rejection and hope<br>we'll meet each other at one of the next events.</p>
    <a href="https://www.harrypotter-ausstellung.at/en"><img src="https://www.allegria.at/fileadmin/marketing/hpx-vienna/hpx-vienna-logo-mailing.png"></a>
    <p><a href="https://harrypotter-ausstellung.at/en" target="_blank" style="background-color: #C89211; padding: 10px 15px; color: #060C2E !important; font-weight: 700; font-size: 20px;">HarryPotter-Ausstellung.at/en</a></p>
  </td>
</tr>
</f:case>
<f:case value="pity-DE">
<tr>
  <td valign="top" class="image" align="center" style="padding: 50px 0 30px 0; text-align: center;">
    <img src="https://www.allegria.at/fileadmin/marketing/hpx-vienna/hpx-vienna-broom-left.png" width="auto" height="25px" style="padding-right: 15px;"><span style="font-size: 36px; font-weight: 700; color: #C89211; font-family: 'mason-sans',sans-serif;">Schade, das es dieses Mal nicht klappt</span><img src="https://www.allegria.at/fileadmin/marketing/hpx-vienna/hpx-vienna-broom-right.png" width="auto" height="25px" style="padding-left: 15px;">
    <p style="font-size: 16px; color: #FFFFFF; font-family: 'sofia-pro',sans-serif; margin-top: 20px;">Die Frist für Rückmeldungen ist bereits abgelaufen, wir bereiten nun die finale Gästeliste vor.</p>
    <p style="font-size: 16px; color: #FFFFFF; font-family: 'sofia-pro',sans-serif; margin-top: 20px;">Schade, dass wir dich diesmal nicht in der Wiener METAStadt begrüßen dürfen, hoffentlich klappt es bei einem der nächsten Events mal wieder.</p>
    <a href="https://www.harrypotter-ausstellung.at"><img src="https://www.allegria.at/fileadmin/marketing/hpx-vienna/hpx-vienna-logo-de-mailing.png"></a>
    <p><a href="https://harrypotter-ausstellung.at" target="_blank" style="background-color: #C89211; padding: 10px 15px; color: #060C2E !important; font-weight: 700; font-size: 20px;">HarryPotter-Ausstellung.at</a></p>
  </td>
</tr>
</f:case>
<f:defaultCase>
<tr>
  <td valign="top" class="image" align="center" style="padding: 50px 0 30px 0; text-align: center;">
    <img src="https://www.allegria.at/fileadmin/marketing/hpx-vienna/hpx-vienna-broom-left.png" width="auto" height="25px" style="padding-right: 15px;"><span style="font-size: 36px; font-weight: 700; color: #C89211; font-family: 'mason-sans',sans-serif;">Danke für die Rückmeldung</span><img src="https://www.allegria.at/fileadmin/marketing/hpx-vienna/hpx-vienna-broom-right.png" width="auto" height="25px" style="padding-left: 15px;">
    <p style="font-size: 16px; color: #FFFFFF; font-family: 'sofia-pro',sans-serif; margin-top: 20px;">Wir haben deine Absage vermerkt und hoffen,<br>dass es bei einem der nächsten Events wieder mal klappt.</p>
    <a href="https://www.harrypotter-ausstellung.at"><img src="https://www.allegria.at/fileadmin/marketing/hpx-vienna/hpx-vienna-logo-de-mailing.png"></a>
    <p><a href="https://harrypotter-ausstellung.at" target="_blank" style="background-color: #C89211; padding: 10px 15px; color: #060C2E !important; font-weight: 700; font-size: 20px;">HarryPotter-Ausstellung.at</a></p>
  </td>
</tr>
</f:defaultCase>
</f:switch>
