<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <!-- 1 Column Text : BEGIN -->
    <tr>
        <td style="padding: 40px; padding-top: 0; text-align: left; font-family: 'IBM Plex Sans', sans-serif; font-size: 1rem; line-height: 1.4; color: #030305; background-color: #FFFFFF">
            <p style="margin: 0;">
                Einen wunderbaren Tag wünscht<br>
                <strong>Euer Allegria Team</strong>
            </p>
        </td>
    </tr>
    <tr>
        <td class="full-width-image"><img src="https://www.allegria.at/fileadmin/marketing/allegria/Allegria_Footer_2025-01.png" width="600" alt="Team Allegria" border="0" align="center" style="width: 100%; max-width: 600px; height: auto;"></td>
      </tr>
    <!-- 1 Column Text : END -->
</html>