<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-publicrelations" >
	<tr>
		<td>
			<f:translate key="tx_publicrelations_domain_model_accreditation.title" />
		</td>
		<td>
		{accreditation.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_publicrelations_domain_model_accreditation.first_name" />
		</td>
		<td>
		{accreditation.firstName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_publicrelations_domain_model_accreditation.middle_name" />
		</td>
		<td>
		{accreditation.middleName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_publicrelations_domain_model_accreditation.last_name" />
		</td>
		<td>
		{accreditation.lastName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_publicrelations_domain_model_accreditation.email" />
		</td>
		<td>
		{accreditation.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_publicrelations_domain_model_accreditation.phone" />
		</td>
		<td>
		{accreditation.phone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_publicrelations_domain_model_accreditation.medium" />
		</td>
		<td>
		{accreditation.medium}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_publicrelations_domain_model_accreditation.tickets" />
		</td>
		<td>
		{accreditation.tickets}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_publicrelations_domain_model_accreditation.notes" />
		</td>
		<td>
		{accreditation.notes}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_publicrelations_domain_model_accreditation.photographer" />
		</td>
		<td>
		{accreditation.photographer}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_publicrelations_domain_model_accreditation.camerateam" />
		</td>
		<td>
		{accreditation.camerateam}
		</td>
	</tr>
</table>
</html>
