<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      v:schemaLocation="https://fluidtypo3.org/schemas/vhs-master.xsd"
      data-namespace-typo3-fluid="true">

<f:layout name="Eventcenter" />

<f:section name="buttons">
<f:link.action action="list" controller="Event" class="btn btn-sm btn-default" arguments="{event:event}"><svg class="icon icon-sm fill-dark mr-2"><use xlink:href="{f:uri.resource(path:'Images/', extensionName: 'allegria_communications', useCacheBusting: false)}glyphicons-basics.svg#times"></use></svg>Abbrechen</f:link.action>
</f:section>

<f:section name="content">
    <h1>Terminauswahl ändern</h1>
    <p><span class="badge badge-warning">Es wurden {events->f:count()} Events ausgwählt!</span></p>

    <f:flashMessages queueIdentifier="allegria.publicrelations.flashMessages" />

    <f:form action="updateCollection" enctype="multipart/form-data" name="eventsUpdate" arguments="{events:events}">
    <p class="font-weight-bold">Wähle aus was du ändern möchtest:</p>
    <p>
      <label class="checkbox-inline"><f:form.checkbox class="checkbox-disable" data="{disable-id:'title'}" property="changes.title" value="1" />Titel</label>
      <label class="checkbox-inline"><f:form.checkbox class="checkbox-disable" data="{disable-id:'type'}" property="changes.type" value="1" />Termintyp</label>
      <label class="checkbox-inline"><f:form.checkbox class="checkbox-disable" data="{disable-id:'accreditation'}" property="changes.accreditation" value="1" />Akkreditierung</label>
      <label class="checkbox-inline"><f:form.checkbox class="checkbox-disable" data="{disable-id:'duration'}" property="changes.duration" value="1" />Dauer</label>
      <label class="checkbox-inline"><f:form.checkbox class="checkbox-disable" data="{disable-id:'durationApprox'}" property="changes.durationApprox" value="1" />ungefähre Dauer</label>
      <label class="checkbox-inline"><f:form.checkbox class="checkbox-disable" data="{disable-id:'durationWithBreak'}" property="changes.durationWithBreak" value="1" />Dauer inkl. Pause</label>
      <label class="checkbox-inline"><f:form.checkbox class="checkbox-disable" data="{disable-id:'notes'}" property="changes.notes" value="1" />Termin-Hinweise</label>
      <label class="checkbox-inline"><f:form.checkbox class="checkbox-disable" data="{disable-id:'location'}" property="changes.location" value="1" />Location</label>
      <label class="checkbox-inline"><f:form.checkbox class="checkbox-disable" data="{disable-id:'locationNote'}" property="changes.locationNote" value="1" />Location-Hinweis</label>
      <label class="checkbox-inline"><f:form.checkbox class="checkbox-disable" data="{disable-id:'online'}" property="changes.online" value="1" />Online</label>
    </p>

    <f:render partial="Event/FormBasics" arguments="{eventTypes:eventTypes, disabled:'1'}" />

    <f:render partial="Event/FormOptions" arguments="{notes:notes, disabled:'1'}" />

    <f:render partial="Event/FormLocation" arguments="{locations:locations, disabled:'1'}" />

    <div class="col-12">
      <f:form.button class="btn btn-sm btn-success"><svg class="icon icon-sm fill-white mr-2"><use xlink:href="{f:uri.resource(path:'Images/', extensionName: 'allegria_communications', useCacheBusting: false)}glyphicons-basics.svg#pencil"></use></svg>Änderungen bestätigen</f:form.button>
      <f:link.action controller="Event" action="deleteCollection" class="btn btn-sm btn-danger mr-3" arguments="{events:events}"><svg class="icon icon-sm fill-white mr-2"><use xlink:href="{f:uri.resource(path:'Images/', extensionName: 'allegria_communications', useCacheBusting: false)}glyphicons-basics.svg#bin"></use></svg>Termin(e) LÖSCHEN!</f:link.action>
    </div>

    </f:form>
</f:section>
</html>
