<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-publicrelations" >
	<tr>
		<td>
			<f:translate key="tx_publicrelations_domain_model_news.date" />
		</td>
		<td>
			{news.date -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_publicrelations_domain_model_news.retention_date" />
		</td>
		<td>
			{news.retentionDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_publicrelations_domain_model_news.title" />
		</td>
		<td>
			{news.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_publicrelations_domain_model_news.text" />
		</td>
		<td>
			{news.text}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_publicrelations_domain_model_news.slug" />
		</td>
		<td>
			{news.slug}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_publicrelations_domain_model_news.seo_title" />
		</td>
		<td>
			{news.seoTitle}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_publicrelations_domain_model_news.seo_description" />
		</td>
		<td>
			{news.seoDescription}
		</td>
	</tr>
</table>
</html>