<f:switch expression="{event}">
  <f:case value="press">
    <div style="padding: 0 30px;">
      <h1 style="font-size: 36px; margin-top: 0; font-weight: 700; color: #C89211; font-family: 'mason-sans', sans-serif;">Programm</h1>
      <p><strong>Check-In & Aufbau</strong> ab 11.00 Uhr</p>
      <p><strong>Begrüßung der Presse</strong> um 11.30 Uhr</p>
      <p style="font-size: 14px;">
        mit<br>
        <strong>Johanne Broadfield</strong><br>
        Vice President, Franchise Management &<br>Marketing EMEA for Warner Bros. Discovery
      </p>
      <p style="font-size: 14px;">
        <strong>Tom Zaller</strong><br>
        President and CEO, Imagine Exhibitions, Inc.
      </p>
      <p><strong>Starte deine personalisierte Reise</strong> durch das interaktive Erlebnis ab ca. 11.45 Uhr</p>
      <p><strong>Interviewmöglichkeiten</strong> nach der Begrüßung,<br>
        <span style="font-size: 13px; margin-top: 0;">wir bitten um um Bekanntgabe der Interviewwünsche<br>bis zum 9. Dezember 2022.</span>
      </p>
    </div>
  </f:case>
  <f:case value="later">
    <div style="padding: 0 30px;">
      <h1 style="font-size: 36px; margin-top: 0; font-weight: 700; color: #C89211; font-family: 'mason-sans', sans-serif;">Programm</h1>
      <p><strong>Check-In & Empfang</strong> ab 19.30 Uhr</p>
      <p><strong>Starte deine personalisierte Reise</strong> durch das Interaktive Erlebnis gegen 20:00 Uhr</p>
    </div>
  </f:case>
  <f:defaultCase>
    <div style="padding: 0 30px;">
      <h1 style="font-size: 36px; margin-top: 0; font-weight: 700; color: #C89211; font-family: 'mason-sans', sans-serif;">Programm</h1>
      <p><strong>Check-In, Empfang & Red Carpet</strong> ab 17.30 Uhr</p>
      <p><strong>Offizielle Eröffnung</strong> um 18.30 Uhr</p>
      <p style="font-size: 14px;">
        mit<br>
        <strong>Johanne Broadfield</strong><br>
        Vice President, Franchise Management &<br>Marketing EMEA for Warner Bros. Discovery
      </p>
      <p style="font-size: 14px;">
        <strong>Tom Zaller</strong><br>
        President und CEO, Imagine Exhibitions, Inc.
      </p>
      <p><strong>Starte deine personalisierte Reise</strong> durch das Interaktive Erlebnis ab ca. 18:45 Uhr</p>
    </div>
  </f:defaultCase>
</f:switch>
