<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:c="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      v:schemaLocation="https://fluidtypo3.org/schemas/vhs-master.xsd"
      data-namespace-typo3-fluid="true">


    <div class="table-fit">
        <table class="table table-striped table-hover">
        <thead>
            <tr>
            <th width="40px">#</th>
            <th width="40px">MA</th>
            <th width="130px">Zeitpunkt</th>
            <th width="100px">Code</th>
            <th width="200px">Funktion</th>
            <th>Notizen</th>
            </tr>
        </thead>
        <f:for each="{contact.logs -> v:iterator.sort(sortBy: 'crdate', order: 'DESC')}" as="log" iteration="li">
        <tr>
            <td>{li.cycle}</td>
            <td>
            <f:if condition="{log.cruser}">
            <f:then>
                <span data-bs-toggle="tooltip" data-placement="right" title="{log.cruser.realName}"><be:avatar backendUser="{log.cruserId}" /></span></td>
            </f:then>
            <f:else>
                <span data-bs-toggle="tooltip" data-placement="right" title="Systemlog"><svg class="icon fill-white" style="height: 24px; width: 24px; padding: 3px; background-color: var(--bs-dark); border-radius: 50%;"><use xlink:href="{f:uri.resource(path:'Images/', extensionName: 'allegria_communications', useCacheBusting: false)}glyphicons-basics.svg#robot"></use></svg></span>
            </f:else>
            </f:if>
            <td>{f:format.date(date:'{log.crdate}', format:'%d.%m.%Y %H:%M')}</td>
            <td>{log.code}</td>
            <td>{log.function}</td>
            <td>
            <strong>{log.subject}</strong>
            <f:if condition="{log.notes}"></br>{log.notes->f:sanitize.html()}</f:if>
            </td>
        </tr>
        </f:for>
        </table>
    </div>

</html>
